* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.home {
  padding: 50px 0;
background-image: linear-gradient(to right bottom, rgba(109, 77, 47, 0.8), rgba(129, 114, 29, 0.8)),url(2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  color: black;
  color: white;
}

.contact {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin-left: 40px;
  cursor: pointer;
}
ul li:nth-child(1) {
  color: red;
}
.content {
  text-align: center;
  padding: 150px 0;
  color: white;
}
.content p {
  line-height: 25px;
}
.btn button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(54, 133, 54);
  color: white;
}
.btn button:hover {
  background-color: white;
  color: red;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.contact1 {
  text-align: center;
}
.contact1 h1 {
  font-size: 30px;
  font-weight: 50;
  padding: 40px 0;
}

.contact1 hr {
  width: 100px;
  border: 2px solid black;
  margin-left: 550px;
  background-color: black;
  margin-top: 30px;
}
.content1 {
  display: flex;
  padding: 30px 0;
}
.content1 p {
  line-height: 20px;
}
span {
  color: red;
  cursor: pointer;
}
.content1 button {
  padding: 15px 25px;
  background-color: orange;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 20px;
}
button:hover {
  background-color: orange;
  color: orange;
  cursor: pointer;
}
.home1 {
  height: 100vh;
}
.img1 img {
  width: 550px;
  margin-left: 25px;
}
.home1 p {
  color: rgb(93, 104, 93);
  line-height: 30px;
}
.home-content1 h2 {
  margin-bottom: 5px;
  font-size: 30px;
}

.home2 {
  text-align: center;
  height: 900px;
  background-color: #dbcfcf;
  padding: 50px 0;
}
.content2 {
  width: 400px;
  height: 250px;
  line-height: 30px;
  background-color: white;
}
.contact2 h1 {
  font-weight: 100;
  padding: 20px 0;
}
.contact2 hr {
  margin-top: 40px;
  margin-bottom: 70px;
  width: 100px;
  margin-left: 700px;
  border: 2px solid rgb(129, 88, 88);
  background-color: rgb(129, 88, 88);
}

.content2 i {
  font-size: 40px;
  color: orange;
  margin-bottom: 15px;
  margin-top: 30px;
}
.content2 hr {
  width: 100px;
  border: 2px solid gray;
  background-color: gray;
  margin-left: 130px;
  margin-bottom: 25px;
  margin-top: 15px;
}
.home-content2 {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.home-content2:nth-child(2) {
  margin-top: 40px;
}


.container3{
  text-align: center;
}
.container3 hr{
  width: 100px;
  border: 2px solid black;
  background-color: black;
  margin-left: 700px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.content3{
  width: 50%;
  border: 1px solid grey;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.content3 label{
  font-size: 25px;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 10px 25px; 
  border: 1px solid gray;

}
.gallery{
  width: 70%;
  margin:   auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}
.img img{
  width: 100%;
  height: 100%;
}
#r1:checked ~ .container3 .gallery .img{
  opacity: 1;
  transform: scale(1);
  position: relative;
}
#r2:checked ~ .container3 .gallery .summer{
  opacity: 1;
  transform: scale(1);
  position: relative;

}
#r2:checked ~ .container3 .gallery .winter, .rainy, .spring{
  opacity: 0;
  transform: scale(0);
  position: absolute;
}
#r3:checked ~ .container3 .gallery .winter{
  opacity: 1;
  transform: scale(1);
  position: relative;

}
#r3:checked ~ .container3 .gallery .summer, .rainy, .spring{
  opacity: 0;
  transform: scale(0);
  position: absolute;
}
#r4:checked ~ .container3 .gallery .rainy{
  opacity: 1;
  transform: scale(1);
  position: relative;

}
#r4:checked ~ .container3 .gallery .summer, .winter, .spring{
  opacity: 0;
  transform: scale(0);
  position: absolute;
}
#r5:checked ~ .container3 .gallery .spring{
  opacity: 1;
  transform: scale(1);
  position: relative;

}
#r5:checked ~ .container3 .gallery .summer, .winter, .rainy{
  opacity: 0;
  transform: scale(0);
  position: absolute;
}

.content3 label:hover{
  background-color: gray;
  color: white;
}
@keyframes slide{
  0%{
    width: 100px;
  }
  50%{
    width: 150px;
  }
  100%{
    width: 100px;
  }
}




.container4 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(2.jpg);
}
.home4 {
  text-align: center;
  width: 50%;
  height: 350px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 70px 0;
  color: white;
}
.home4 p {
  line-height: 25px;
}
.home4 i {
  font-size: 50px;
  margin-bottom: 20px;
  color: green;
}
.rup {
  color: orange;
}


.home5{
  height: 700px;
  padding: 50px 0;
}
.content5{
    text-align: center;
}
.content5 p{
    margin-top: 20px;
    margin-bottom: 25px;
}
.content5 hr{
    width: 100px;
    border: 2px solid gray;
    background-color: gray;
    margin-left: 730px;
    margin-bottom: 50px;
}
.contact-content5{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
.contact-content5 i{
  color: orange;
  font-size: 25px;
}
  
.home-content5{
  margin-top: 20px;
  color: black;
  display: flex;
  gap: 20px;
}
.text5{
  width: 400px;
  height: 40px;
  margin-left: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
}
form textarea{
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 15px;
}
.input5{
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: red;
  color: white;
  margin-left: 300px;
  margin-top: 20px;
}
.submit5{
  width: 820px;
  height: 50px;
  border: 1px solid black;
  margin-top: 40px;
  margin-left: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.footer6{
  text-align: center;
  display: block;
  margin: 0 auto;
}
.footer6 h2{
  background-color: black;
  color: white;
  height: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp{
  color: red;
  margin-left: 10px;
  cursor: pointer;
}
